###Project###
log/*

###Node###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

socket
npm-debug.log
node_modules/


.DS_Store
.nodemonignore
.sass-cache/
.idea

###SublimeText###

# SublimeText project files
*.sublime-workspace
